
{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Cave a Vin</h1>
        <p>
            Gestion d'une cave a vin pour particulier et professionel
        </p>
    </div>

{% endblock %}