
{% extends 'base.html.twig' %}

{% block title ' Gérer les bouteilles' %}



{% block body %}
    <div class="container mt-4">

        <h1>Gerer les bouteilles</h1>

        <table class="table table-striped">
            <thread>
                <tr>
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
            </thread>
            <tbody>
                {% for bottle in bottles  %}
                <tr>
                    <td>{{ bottle.name }}</td>
                    <td>
                        <a href="{{ path('admin.property.edit', { id : bottle.id }) }}" class="btn btn-secondary">Editer</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}







